<%= form_for ([@entry, @entry.comments.build]) do |c| %>
<p>
	<%= c.label :commenter %><br/>
	<%= c.text_field :commenter %>
</p>
<p>
	<%= c.label :commentBody%><br/>
	<%= c.text_area :commentBody%>
</p>
<p><%= c.submit %></p>
<%end%>