<h1>Story Book Entries</h1>

<%= link_to "New Entry", new_entry_path %>

<table>
<tr>
	<th>Title</th>
	<th>Text</th>
	<th></th>
	<th></th>
</tr>

<% @entries.each do |entry|%>
<tr>
	<td><a href="entries/<%= entry.id%>"><%= entry.title%></a></td>
	<td><%= entry.text%></td>
	<td><%= link_to "Edit", edit_entry_path(entry.id)%></td>
	<td><%= link_to "Delete", entry_path(entry.id), method: :delete, 
	data: {confirm: 'Are you sure?'}%></td>
</tr>
<%end%>
</table>