<%= link_to "Back to Entries", entries_path%> | 
<%= link_to "Edit", edit_entry_path%> | <%= link_to "Delete", entry_path(@entry.id), method: :delete, 
	data: {confirm: 'Are you sure?'}%>

<p><strong>Title: </strong><%= @entry.title%></p>

<p><strong>Text: </strong><%= @entry.text%></p>